<div id="base">

  
    <div>
        <button id="start" class="start">
            <span>Login with Microsoft</span>
        </button>
        <span id="percent">Ancien Titre</span>
        <span id="info">Ancien Titre</span>
      </div>

      <select id="version">
        <!-- Options existantes (si nécessaire) -->
        <option value="capitalium-factory">capitalium-factory</option>
      </select>

      <select id="type">
        <!-- Options existantes (si nécessaire) -->
        <option value="vanilla">Vanilla</option>
        <option value="forge">Forge</option>
      </select>


      <script src="./js/welcome.Js"></script>



    <script src="./js/base.Js"></script>
</div>