<div id="base">

  
        <button id="start" class="playButton">
            <span>Jouer</span>
        </button>

    <span id="percent">percent</span>
    <span id="info">info</span>

      <select id="version" class="versiong"> 
        <option value="capitalium-factory">capitalium-factory</option>
      </select>

      <select id="type" class="type">
        <option value="vanilla">Vanilla</option>
        <option value="forge">Forge</option>
      </select>
    </div>



    <script src="./js/welcome.Js"></script>
    <script src="./js/base.Js"></script>
</div>