<div id="base">

  
    <div>
        <button id="start" class="start">
            <span>Login with Microsoft</span>
        </button>
      </div>
      <script src="./js/welcome.Js"></script>



    <script src="./js/base.Js"></script>
</div>