<div id="loginask">

  
    <div id="loadingContainer">
        <div class="loginOptionsMainContent">
            <h2>De quelle team es-tu ?</h2>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMicrosoft" class="loginOptionButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 23 23">
                            <path fill="#f35325" d="M1 1h10v10H1z" />
                            <path fill="#81bc06" d="M12 1h10v10H12z" />
                            <path fill="#05a6f0" d="M1 12h10v10H1z" />
                            <path fill="#ffba08" d="M12 12h10v10H12z" />
                        </svg>
                        <span>Login with Microsoft</span>
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionCrack" class="loginOptionButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 9.677 9.667">
                            <path d="M-26.332-12.098h2.715c-1.357.18-2.574 1.23-2.715 2.633z" fill="#fff" />
                            <path d="M2.598.022h7.07L9.665 7c-.003 1.334-1.113 2.46-2.402 2.654H0V2.542C.134 1.2 1.3.195 2.598.022z" fill="#db2331" />
                        </svg>
                        <span>Crack Login</span>
                    </button>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton">Cancel</button>
            </div>
        </div>
  </div>
  <script src="./js/loginAsk.js"></script>

  


  </div>