<div id="userNameLogin">
    <div>



              <div class="background-crack">
                  <div class="shape-crack"></div>
                  <div class="shape-crack"></div>
              </div>
              <div class="form-crack">
                  <h3>Login Here</h3>
          
                  <input id="input-userNameLogin" class="input-crack" type="text" placeholder="Entre ton pseudo" id="username">
          
                  <button id="button-userNameLogin" class="button-crack">Log In</button>
              </div>




    </div>
      <script src="./js/welcome.Js"></script>

    <script src="./js/userNameLogin.Js"></script>
</div>