<div id="welcome">

  
  <div id="loadingContainer">
    <div id="loadingContent">
        <div id="loadSpinnerContainer">
            <img id="loadCenterImage" src="./images/capitalium-logo.png">
        </div>
    </div>
    <div id="welcometexte">Alpha studio</div>
</div>



    <script src="./js/welcome.Js"></script>
</div>